<h3>this is root component</h3>


<br/>

<div class="example-button-row">
  <button mat-raised-button>Basic</button>
  <button mat-raised-button color="primary">Primary</button>
  <button mat-raised-button color="accent">Accent</button>
  <button mat-raised-button color="warn">Warn</button>
  <button mat-raised-button disabled>Disabled</button>
  <a mat-raised-button routerLink=".">Link</a>
</div>

<mat-grid-list cols="2" rowHeight="250px" gutterSize="20px">
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <app-search></app-search>

   

  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="3" style.background="green">
    <app-map></app-map>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1" style.background="yellow">
    <app-weather></app-weather>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1" style.background="DDBDF1">
    <app-air-quality></app-air-quality>
  </mat-grid-tile>
</mat-grid-list>


<!-- <mat-grid-list cols="4" rowHeight="100px">
  <mat-grid-tile
      *ngFor="let tile of tiles"
      [colspan]="tile.cols"
      [rowspan]="tile.rows"
      [style.background]="tile.color">
    {{tile.text}}
  </mat-grid-tile>
</mat-grid-list> -->


<mat-card>
  <mat-card-content>
    <h2 class="example-h2">Result</h2>

    <section class="example-section">
      <!-- <mat-progress-bar
          class="example-margin"
          [color]="color"
          [mode]="mode"
          [value]="value"
          [bufferValue]="bufferValue">
      </mat-progress-bar> -->
    </section>
  </mat-card-content>
</mat-card>



<router-outlet></router-outlet>